<form class="chatContainer">
  <app-info
    [receiverData]="receiverData"
    (onClickToOpenEdit)="ClickToToggleEdit()"
  ></app-info>

  <app-selected-messages
    [selectedMessages]="selectedMessages"
    (onDiscardSelectedMessages)="discardSelectedMessages()"
    (onGetAllMessagesInBetween)="getAllMessagesInBetween()"
  ></app-selected-messages>

  <div class="blank">
    <div
      class="cardWrap"
      *ngFor="let item of allMessagesBetween"
      (click)="toggleSelectionMessage(item)"
      [ngClass]="{
        'flex-end': item?.messageSenderId == senderData?.id,
        'flex-start': item?.messageSenderId !== senderData?.id,
      }"
    >
      <div
        class="layer-over"
        [ngClass]="{
          'layer-over-selected': isMessageSelected(item),
          'layer-over-not-selected': !isMessageSelected(item)
        }"
      ></div>

      <div
        class="card"
        [ngClass]="{
           'sender-bg'  :  item?.messageSenderId == senderData?.id,
        }"
      >
        <h1 *ngIf="item?.contentType == 'text'">{{ item?.content }}</h1>

        <img
          *ngIf="item?.contentType == 'image'"
          [src]="item?.content"
          alt="img test"
        />

        <video
          *ngIf="item?.contentType == 'video'"
          width="320"
          height="240"
          controls
        >
          <source [src]="item?.content" type="video/mp4" />
        </video>

        <!-- <div class="soundContainer" *ngIf="item.ContentType=='sound'">
                    <mat-icon svgIcon="play" *ngIf="!item.content.isPlaying"
                        (click)="playSound(item.content)"></mat-icon>
                    <mat-icon svgIcon="pause" *ngIf="item.content.isPlaying"
                        (click)="playSound(item.content)"></mat-icon>

                    <div class="wave">
                        <input class="rangeSound" type="range" [min]="0" [max]="item.content.duration"
                            [value]="item.content.sound.currentTime"
                            (input)="ChangeCurrentMoment($event , item.content)">


                        <h1 class="fileName">{{item.content.fileName}}</h1>
                    </div>


                    <span
                        class="soundTime">{{ToInteger(item.content.sound.currentTime)}}:{{ToInteger(item.content.duration)}}</span>


                </div> -->

        <div class="date">
          <span>{{ this.GetCurrentTime(item?.date)[1] }}</span>
          <span>{{ this.GetCurrentTime(item?.date)[0] }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="chatInput">
    <div class="emoji" (click)="this.toggleAttached()">
      <mat-icon svgIcon="attatch"></mat-icon>
    </div>
    <input
      (keydown)="EnterKeyPressed($event)"
      class="input"
      type="text"
      [value]="this.message"
      placeholder="Type Message"
      (input)="SaveValue($event)"
    />

    <button
      class="emoji emojiNew"
      (click)="ShowMessage()"
      [disabled]="this.message.length == 0"
    >
      <mat-icon svgIcon="arrowRight"></mat-icon>
    </button>

    <app-attatch
      [SenderData]="senderData"
      [ReceiverData]="receiverData"
      [isAttatchPopUpOpen]="isAttatchPopUpOpen"
      (getAllMessagesInBetween)="getAllMessagesInBetween()"
    ></app-attatch>
  </div>

  <app-user-settings
    [UserData]="receiverData"
    [isUserSettingsOpened]="isUserSettingsOpened"
    (onClickToCloseEdit)="ClickToToggleEdit()"
  ></app-user-settings>
</form>
