.more {
  background-color: #425061;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  min-height: 100px;
  margin: 8px 32px;
  border-radius: 32px 32px 32px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.6s all ease-in-out;
}

.more-collapse {
  clip-path: circle(0% at 0 100%);
}

.more-expand {
  clip-path: circle(141.4% at 0 100%);
}

.loader-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.emoji mat-icon {
  width: 100%;
  cursor: pointer;
}

.emoji {
  transition: 0.2s ease-in;
  cursor: pointer;
  position: relative;
  background-color: rgb(255 255 255 / 25%);
  padding: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attach-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  row-gap: 4px;
}

/* .emoji:hover {
  scale: 1.1;
} */

.emoji input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* background-color: red; */
  opacity: 0;
  cursor: pointer;
}

.loader {
  /* color: #ffffff; */
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ErrorContainer {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.447);
  /* flex: 1; */
  padding: 0px 32px;
  border-radius: 32px 32px 0px 0px;
}

.ErrorMessage {
  font-size: 22px;
  padding: 12px;
  color: #425061;
}

.title {
  font-size: 14px;
  color: white;
}
