<form class="chatContainer">
  <app-info
    [receiverData]="receiverData"
    (onClickToOpenEdit)="ClickToToggleEdit()"
  ></app-info>

  <app-selected-messages
    [selectedMessages]="selectedMessages"
    (onDiscardSelectedMessages)="discardSelectedMessages()"
    (onGetAllMessagesInBetween)="getAllMessagesInBetween()"
  ></app-selected-messages>

  <div class="blank">
    <div
      class="cardWrap"
      *ngFor="let item of allMessagesBetween"
      (click)="toggleSelectionMessage(item)"
      [ngClass]="{
        'flex-end': item?.messageSenderId == senderData?.id,
        'flex-start': item?.messageSenderId !== senderData?.id,
      }"
    >
      <div
        class="layer-over"
        [ngClass]="{
          'layer-over-selected': isMessageSelected(item),
          'layer-over-not-selected': !isMessageSelected(item)
        }"
      ></div>

      <div class="card noPointerDate" *ngIf="isFirstTimeDate(item?.date)">
        <h1>
          {{ displayDateFirstTime(item?.date) }}
        </h1>
      </div>

      <div
        class="card"
        [ngClass]="{
           'sender-bg': item?.messageSenderId == senderData?.id,
        }"
      >
        <h1 *ngIf="item?.contentType == 'text'">{{ item?.content }}</h1>

        <img
          *ngIf="item?.contentType == 'image'"
          [src]="item?.content"
          alt="img test"
        />

        <video
          *ngIf="item?.contentType == 'video'"
          width="320"
          height="240"
          controls
        >
          <source [src]="item?.content" />
        </video>

        <audio *ngIf="item?.contentType == 'sound'" controls>
          <source [src]="item?.content" />
        </audio>

        <div class="date">
          <span>{{ GetCurrentTime(item?.date) }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="chatInput">
    <div class="emoji" (click)="toggleAttached()">
      <mat-icon svgIcon="attatch"></mat-icon>
    </div>
    <input
      (keydown)="EnterKeyPressed($event)"
      class="input"
      type="text"
      [value]="message"
      placeholder="Type Message"
      (input)="SaveValue($event)"
    />

    <button
      class="emoji emojiNew"
      (click)="ShowMessage()"
      [disabled]="message.length == 0"
    >
      <mat-icon svgIcon="arrowRight"></mat-icon>
    </button>

    <app-attatch
      [SenderData]="senderData"
      [ReceiverData]="receiverData"
      [isAttatchPopUpOpen]="isAttatchPopUpOpen"
      (getAllMessagesInBetween)="getAllMessagesInBetween()"
    ></app-attatch>
  </div>

  <app-user-settings
    [UserData]="receiverData"
    [isUserSettingsOpened]="isUserSettingsOpened"
    [senderId]="senderData.id"
    (onClickToCloseEdit)="ClickToToggleEdit()"
  ></app-user-settings>
</form>
