.chatInput {
  /* padding: 22px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  /* background-color: red; */
}

.title-container:hover {
  background-color: #42506135;
}

.title-container {
  padding: 8px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  flex: 1;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;
}

.name {
  font-size: 22px;
  letter-spacing: 1.5px;
  color: black;
}

.last-seen {
  font-size: 14px;
  letter-spacing: 1px;
  color: black;
  opacity: 0.5;
}

.emoji img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.emoji {
  transition: 0.2s ease-in;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  padding: 22px;
}

.emojiNew {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #425061;
  border-radius: 50%;
}

.emojiNew[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

/* .emoji:hover {
  scale: 1.1;
} */

.emoji input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
