<div class="chatInput" (click)="ClickToOpenEditTab()">
  <div class="emoji" (click)="backToAllUsers()">
    <mat-icon svgIcon="arrowLeft"></mat-icon>
  </div>

  <div class="title-container">
    <h1 class="name">{{ receiverData?.name }}</h1>
    <h1 class="last-seen">
      Last Seen: {{ receiverData?.lastTimeActive | dateAgo }}
    </h1>
  </div>

  <div class="emoji">
    <img
      src="../../assets/images/man-2.png"
      *ngIf="receiverData?.mainPhoto == null && receiverData?.gender"
      alt=""
    />
    <img
      src="../../assets/images/woman-2.png"
      *ngIf="receiverData?.mainPhoto == null && !receiverData?.gender"
      alt=""
    />

    <img
      *ngIf="receiverData?.mainPhoto"
      [src]="receiverData?.mainPhoto?.content"
      alt="avatar img"
    />
  </div>
</div>
